<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理工具</title>
    <script src="/static/javascript/jquery-3.2.1.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/Semantic-UI-CSS-master/semantic.css">

    <script src="/static/Semantic-UI-CSS-master/semantic.js"></script>
</head>
<body>

    <div class="ui grid segment">
        <div class="ui four wide column">
              <h2 class="ui icon header">
                <i class="settings icon"></i>
            </h2>
        </div>
        <div class="ui eight wide column">
            <div class="ui link cards">
                <div class="card">
                    <div class="image">
                        <img src="/static/images/gbf_admin.JPG">
                    </div>
                    <div class="extra content">
                        <span class="middle">
                            <h1>碧蓝幻想-管理</h1>
                        </span>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="/static/images/collection_admin.jpg">
                    </div>
                    <div class="extra content">
                        <span class="middle">
                            <h1>舰队Collection-管理</h1>
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="ui four wide column">

        </div>
    </div>

</body>
</html>